In [1]:
import calendar

In [2]:
from calendar import isleap

isleap(2017)

False

In [3]:
import calendar as cl

cl.isleap(2016)

True

In [4]:
cl.isleap?

In [5]:
help(cl.isleap)

Help on function isleap in module calendar:

isleap(year)
    Return True for leap years, False for non-leap years.

In [13]:
!fortune | cowsay
#get fortune + cowsay

/bin/sh: 1: fortune: not found
/bin/sh: 1: cowsay: not found

In [9]:
17//2

8

In [15]:
def double(a):
    return 2*a

In [16]:
double(7)

14

In [17]:
another_double = lambda num : 2*num

In [18]:
another_double(4)

8

This is a Markdown Cell
=============

This is some python code:

print("hello world")

In [19]:
x = 360

In [20]:
type(x)

int

In [31]:
y = "This is not an int"
type(y)

str

In [22]:
x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
z = '''This is a multi line comment
I can add many lines here.
just like this.
'''
print(z)

This is a multi line comment
I can add many lines here.
just like this.

In [25]:
z.upper()

'THIS IS A MULTI LINE COMMENT\nI CAN ADD MANY LINES HERE.\nJUST LIKE THIS.\n'

In [26]:
print('\U0001f604')

ðŸ˜„

In [33]:
#concat strings
print(str(x) + y + z)

360This is not an intThis is a multi line comment
I can add many lines here.
just like this.

List comprehension
--------------------

In [34]:
prime_list = [1,3,5,7,11]
squared_prime_list = [item **2 for item in prime_list]

In [35]:
squared_prime_list

[1, 9, 25, 49, 121]

In [36]:
filtered_squared_prime_list = [item **2 for item in prime_list if item > 5]

In [37]:
filtered_squared_prime_list

[49, 121]

# Tuples

In [38]:
x = (2,3,4,5,7,11)

In [39]:
x[4]

7

In [40]:
x[4] = 5

TypeError: 'tuple' object does not support item assignment